@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900);
.btn,a{-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out}
.layout,.sidebar,body,html{height:100%}
.btn:active,.btn:active:focus,.btn:focus,a,a:focus,input:focus,textarea:focus{outline:0}
.sidebar__site-name,.social-icons a{
    opacity:.55;
    filter:alpha(opacity=55)}

@font-face{
    font-family:Novecento_wide_bold;
    src:url(../fonts/Novecentosanswide-Bold-webfont.eot);
    src:url(../fonts/Novecentosanswide-Bold-webfont.eot?#iefix) 
    format('embedded-opentype'),
    url(../fonts/Novecentosanswide-Bold-webfont.woff) 
    format('woff'),
    url(../fonts/Novecentosanswide-Bold-webfont.ttf) 
    format('truetype'),
    url(../fonts/Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold) 
    format('svg');
    font-weight:400;
    font-style:normal}

    body{
        background:#3c3c3c;
        font:normal normal 18px/1.8em Raleway,sans-serif;
        color:#3f3f3f}

@media (max-width:1132px),(max-height:800px){
    body{font-size:16px}}


a{
    color:#8f99b3;
    border-bottom:1px dotted #8f99b3;
    transition:all .3s ease-in-out}
a:hover{
    color:#7a8399;
    border-bottom-color:#7a8399}

.sidebar{
    background:#555c70;
    color:#fff;
    padding-top:75px}

.sidebar__site-name{margin:0;
    padding:0;
    font:normal normal 2.125em/1.33em Novecento_wide_bold}

body{padding-top:20px}

@media (max-width:910px){

    .sidebar{text-align:center}
body{padding-top:0}

}

.layout{
    margin:auto;
    background-color:#fff;
    padding-top:220px}
.layout-header{
    position:fixed;
    z-index:3;
    height:220px;
    top:20px;
    background-color:#f0f1f5}
.layout-sidebar{
    position:fixed;
    padding-top:240px;
    height:100%;
    top:0;
    z-index:2}
.layout-container{overflow:hidden}
.layout-container-main{
    float:right;
    overflow:hidden;
    position:relative;
    background-color:#fff}
.layout-title{
    position:fixed;
    margin:0;
    z-index:1;
    overflow:hidden;
    background:#00bdbd;
    color:#fff;
    font:normal normal 1.778em Novecento_wide_bold;
    line-height:75px}
.layout-title__subtitle{
    float:right;
    font:normal normal .5629999999999999em Novecento_wide_bold;
    line-height:inherit}
.layout-title-wrapper{height:75px}
.layout-anti-scroll{
    display:none;
    background:#3c3c3c}


@media (min-width:910px){

    .layout-anti-scroll--active{
        display:block;
        position:fixed;
        height:20px;
        top:0
        ;z-index:2
    }

}

.main-nav{
    display:table;
    table-layout:fixed;
    margin:0;
    padding:0;
    width:100%;
    height:200px;
    margin-bottom:20px;
    list-style:none}
.main-nav__item-icon-wrapper{
    display:block;
    position:relative;
    width:0;
    height:100px;
    margin:auto;
    -webkit-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out}
.main-nav__item-icon-wrapper:before{
    content:' ';
    display:block;
    z-index:3;
    position:absolute;
    border-radius:100%;
    bottom:-15px;
    left:-15px;
    width:30px;
    height:30px;
    -webkit-transition:inherit;
    -o-transition:inherit;
    transition:inherit}
.main-nav__item{
    display:table-cell;
    background:#f0f1f5;
    text-align:center;
    height:100%;
    border-left:1px solid #e0e0e0}
.main-nav__item:last-child{border-right:1px solid #fff}
.main-nav__item:last-child .main-nav__item-link{border-right:1px solid #e0e0e0}
.main-nav__item--active .main-nav__item-icon-wrapper,.main-nav__item:hover .main-nav__item-icon-wrapper{height:90px}
.main-nav__item--active .main-nav__item-icon-wrapper:before,.main-nav__item:hover .main-nav__item-icon-wrapper:before{
    bottom:-38px;
    left:-38px;
    width:76px;
    height:76px;
    background:#abb3c7}
.main-nav__item--active .main-nav__item-icon,.main-nav__item:hover .main-nav__item-icon{color:#fff}
.main-nav__item:hover .main-nav__item-content{color:#aeb2bd}
.main-nav__item--active .main-nav__item-icon-wrapper:before,.main-nav__item--active:hover .main-nav__item-icon-wrapper:before{
    background:#707a94;
    -webkit-transition:all .4s ease-in-out,background-color 1ms;
    -o-transition:all .4s ease-in-out,background-color 1ms;
    transition:all .4s ease-in-out,background-color 1ms}
.main-nav__item--active .main-nav__item-icon,.main-nav__item--active:hover .main-nav__item-icon{color:#00d4d4}
.main-nav__item--active .main-nav__item-content,.main-nav__item--active:hover .main-nav__item-content{color:#8d9099}
.main-nav__item-link{
    position:relative;
    display:block;
    height:100%;
    border-bottom:none;
    border-left:1px solid #fff}
.main-nav__item-icon{
    font-size:38px;
    color:#c7cbd4}
.main-nav__item-icon:before{
    display:block;
    position:absolute;
    z-index:4;
    bottom:-19px;
    left:-19px;
    width:38px;
    height:38px}
.main-nav__item-content{
    display:block;
    z-index:3;
    position:absolute;
    width:100%;
    bottom:30px;
    color:#bec3cf;
    font-family:Novecento_wide_bold;
    font-size:24px;
    font-style:normal;font-weight:400;
    -webkit-transition:inherit;
    -o-transition:inherit;
    transition:inherit}
.main-nav__sliding-element{
    position:absolute;
    bottom:0;
    height:230px;
    background:#e4e5eb;
    z-index:2;
    display:none}
   
 /* empieza menu para celulares y tablets */.main-nav--mobile{
    display:none;
    width:100%;
    margin:0;
    padding:0;
    position:absolute;
    right:0;
    list-style:none;
    z-index:20}
.main-nav--mobile .main-nav__item{
    display:block;
    height:auto;
    border-bottom:1px solid #fff}
.main-nav--mobile .main-nav__item-icon-wrapper,.mobile-menu{display:none}
.main-nav--mobile .main-nav__item:first-child{padding-top:1px}
.main-nav--mobile .main-nav__item:last-child,.main-nav--mobile .main-nav__item:last-child .main-nav__item-link{border:none}
.main-nav--mobile .main-nav__item-link{border-bottom:1px solid #e0e0e0}
.main-nav--mobile .main-nav__item-content{
    position:static;
    padding:15px 0}

.mobile-menu{
    width:100%;
    position:absolute;
    top:0;
    right:0;
    z-index:20}
.mobile-menu__toggle{
    display:block;
    width:60px;
    height:60px;
    float:right;
    background-color:#00d4d4;
    transition:all .5s ease-in;
    position:relative;
    z-index:21;
    border-bottom:none}
    .mobile-menu__toggle__icon{
        display:block;
        width:22px;
        height:27px;
        margin-top:-13.5px;
        margin-left:-11px;
        overflow:hidden;
        position:absolute;
        top:50%;
        left:50%;
        color:#fff;
        font-size:27px}
        .mobile-menu__toggle__icon__close,.mobile-menu__toggle__icon__open{
        position:absolute;
        left:0;
        -webkit-transition:all .5s ease-in;
        -o-transition:all .5s ease-in;
        transition:all .5s ease-in}
.mobile-menu__toggle__icon__open{top:0}
.mobile-menu__toggle__icon__close{top:27px}
.mobile-menu--open .mobile-menu__toggle{background:#3c3b3d}
.mobile-menu--open .mobile-menu__toggle__icon__open{top:-27px}
.mobile-menu--open .mobile-menu__toggle__icon__close{top:0}
    /* termina menu para celulares y tablets */

    /* "submenu" ocultable() */
.accordion-title{
    margin:0;
    display:block;
    overflow:hidden;
    background:#f2f4f7;
    color:#abaeba;
    line-height:65px;
    font-size:20px;
    cursor:pointer}
.accordion-title__icon{margin-right:5px}
.accordion-title__state-icon{
    float:right;
    line-height:inherit;
    font-size:30px;
    color:#dadce0}
.accordion-title__state-icon.fa:before{content:"\f150"}
.accordion-title.collapsed{border-bottom:1px solid #E9E9E9}
.accordion-title.collapsed .accordion-title__state-icon.fa:before{content:"\f151"}
/* termina submenú */

/* Boton enviar mensaje */
.btn--style1{display:block;
    border:2px solid #00d4d4;
    background:0 0;
    border-radius:70px;
    color:#3f3f3f;
    font:normal 700 .889em Raleway,sans-serif}

.btn{transition:all .3s ease-in-out}
.btn-lg{padding:12px 25px}
.btn--style1:hover{
    border-color:#00d4d4;
    background:#00d4d4;
    color:#fff}
  
/* termina boton */

/* Habilidades graficas */
.donut-chart{
    margin-bottom:10px;
    position:relative;
    color:#00d4d4}
.donut-chart-wrap{
    margin-right:35px;
    margin-bottom:35px;
    width:auto;
    float:left;
    text-align:center}
.donut-chart__value{
    width:100%;
    position:absolute;
    text-align:center;
    color:#c3c5c9;
    font:normal 800 35px Raleway,sans-serif;
    line-height:150px}
.donut-chart__title{
    margin-bottom:20px;
    font:normal 700 18px Raleway,sans-serif}
.donut-chart__sub-title{font:normal normal 16px Raleway,sans-serif}
.donut-chart__pallete-second-color{
    color:#e8e9ed;
    display:none}
/* termina habilidades graficas */


/* empieza formulario de contacto */
.form__item{
    width:100%;
    margin-bottom:25px}
.form__item__failed-wrap{
    display:none;
    margin:-20px 0 15px 22px;
    color:#ff6868;
    font-size:14px;
    font-style:italic}
.form__item--invalid .form__item{border:2px solid #f29090}
.form__item--invalid .form__item__failed-wrap{display:block}
.form__textarea{
    min-height:215px;
    margin-bottom:20px;
    resize:none}
.form__status{
    display:none;
    width:60%;
    margin-top:10px;
    float:right;
    text-align:right;
    font-size:16px;
    font-weight:400}
.form__status--success{
    display:block;
    color:#41c266}
.form__status--error{
    display:block;
    color:#ff6868}
/* termina formulario de contacto */


.list-style--check li:before{
    display:inline-block;
    text-rendering:auto;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0,0)}

/* input  y textarea del formulario de contacto */
input[type=text]{
    height:50px;
    padding-left:20px;
    padding-right:20px;
    border:2px solid #dfe1e8;
    border-radius:25px;
    -webkit-appearance:none}

textarea{
    margin-bottom:20px;
    padding:10px 20px;
    border:2px solid #dfe1e8;
    border-radius:25px;
    -webkit-appearance:none}



/* lista de habilidades-adicionales y educación */
.list-style--check{
    margin:0;
    padding:0;
    list-style:none}
.list-style--check li{margin-bottom:5px}
.list-style--check li:before{
    margin-right:10px;
    color:#00d4d4;
    font:normal normal normal 1.222em/1em FontAwesome;
    -webkit-font-smoothing:antialiased;
    content:"\f058"}
/* termina lista */

/* barra de habilidades tecnicas */
.progress-bar{
    position:relative;
    overflow:hidden}
.progress-bar__name{margin-bottom:-15px}
.progress-bar__wrapper{
    width:100%;
    margin-top:-7px;
    padding-right:130px;
    float:left;
    position:absolute;
    top:50%}
.progress-bar__bar{
    background-color:#e8e9ed;
    border-radius:7px}
.progress-bar__value{
    height:12px;
    background-color:#616161;
    border-radius:7px}
.progress-bar__progress{
    width:110px;
    float:right;
    color:#c3c5c9;
    font:normal 800 36px Raleway,sans-serif}
/* termina barra de habilidades tecnicas */


@media (max-width:430px){

    .service-item:nth-child(odd) .service-item__icon-wrap,.service-item__icon-wrap{
        float:none;
        text-align:center;
        margin:0 0 20px}}



.skill-section{overflow:hidden}
.skill-section__title{
    color:#585858;
    font:normal 800 1.111em Raleway,sans-serif;
    margin-top:0}

.contact-info i{text-align:center}

/* Caja que voy a usar en proyectos y educación */
.timeline-item{
    margin:0 -15px;
    overflow:hidden}
.timeline-item__col{
    float:left;
    padding:0 15px}
.timeline-item__col--info{
    width:33.33333%}
.timeline-item__col--description{width:66.66667%}
.timeline-item__title{
    margin:0;
    margin-bottom:20px;
    color:#626262;
    font:normal 800 1.222em Raleway,sans-serif}
.timeline-item__title:after{
    content:" ";
    display:block;
    width:35px;
    height:0;
    margin-top:15px;
    border-bottom:5px solid #00d4d4;
    border-radius:3px}
.timeline-item__period{
    margin-bottom:15px;
    color:#d8d9db;
    font:normal 800 1.222em Raleway,sans-serif}
.timeline-item__place{
    margin:0;
    margin-bottom:10px;
    color:#626262;
    font:normal 800 1.111em Raleway,sans-serif}
.timeline-item__location{
    margin:0;
    margin-bottom:10px;
    color:#626262;font:normal 700 15px Raleway,sans-serif}
.timeline-item__description{
    font:normal normal 16px Raleway,sans-serif;
    line-height:1.8em}

@media (max-width:607px){
.timeline-item__col{float:none;
    width:100%}
    .timeline-item__title{margin:30px 0 10px}}
/* termina Caja que voy a usar en proyectos y educación */


/* Subsitulo blanco del sidebar */
.sbsubtitle{margin-top:20px}.sbsubtitle__list{
    margin:0;
    padding-left:inherit;
    list-style:none}
.sbsubtitle__list>li{color:#fff;
    font:normal normal 1.2em/1.6em Raleway,sans-serif}


@media (max-width:910px){.sbsubtitle__list>li{display:inline}
.sbsubtitle__list>li:after{
    content:"/";
    margin:0 10px}
.sbsubtitle__list>li:last-child:after{display:none}}
/* Final Subsitulo del sidebar */

.contact-info{
    display:inline-block;
    margin:0 -30px -15px 0;
    padding:0;
    list-style:none}
.contact-info li{
    float:left;
    margin-right:30px;
    margin-bottom:15px}
.contact-info i{
    width:50px;
    line-height:50px;
    margin-right:10px;
    color:#fff;
    font-size:30px;
    background:#00d4d4;
    border-radius:100%}
.layout-body--home .layout,.page-home{background:#00bdbd}

@media (min-width:910px){
    .layout-body--home .mCSB_scrollTools_vertical{margin-top:0}}


.page-home{
    padding-top:75px;
    padding-bottom:75px}


@media (max-width:991px){
.page-home{text-align:center}
.page-home__thumbnail-wrap{margin-top:40px}}


.page-home__text p{
    margin-top:15px;
    margin-bottom:0;
    color:#fff}
.page-home__page-title{
    margin:0;
    padding-bottom:11px;
    color:#fff;
    font:normal normal 2.125em/1.33em Novecento_wide_bold}
.page-home__sign{margin-top:49px}
.page-home__thumbnail{
    max-width:100%!important;
    max-height:100%!important;
    border:9px solid #fff}


@media (max-width:768px){
    .post-navigation{display:block}
    .post-navigation__item-left,.post-navigation__item-right{
        display:block;
        width:100%}
    .post-navigation__item-left{margin-bottom:10px}}


@media (max-width:1130px),(max-height:900px){
.main-nav{height:160px}
.main-nav__item-icon-wrapper{height:81.81818182000001px}
.main-nav__item-content{
    font-size:19.63636364px;
    bottom:17.27272727px}
.main-nav__sliding-element{height:190px}
.main-nav__item-icon{font-size:31.09090909px}
.main-nav__item-icon:before{
    bottom:-15.54545455px;
    left:-15.54545455px;
    width:31.09090909px;
    height:31.09090909px}
.main-nav__item--active .main-nav__item-icon-wrapper,.main-nav__item:hover .main-nav__item-icon-wrapper{height:73.63636364px}
.main-nav__item--active .main-nav__item-icon-wrapper:before,.main-nav__item:hover .main-nav__item-icon-wrapper:before{
    bottom:-31.09090909px;
    left:-31.09090909px;
    width:62.18181818px;
    height:62.18181818px}

.layout{padding-top:180px}
.layout-header{height:180px}
.layout-sidebar{padding-top:200px}}


.layout-width{width:1330px}
.layout-sidebar-width{width:443.3333289px}
.layout-container-width{width:886.6666711px}
.sidebar,.sidebar-container{
    padding-left:80px;
    padding-right:60px}
.layout-col,.layout-container,.layout-container-main{
    padding-left:60px;
    padding-right:80px}
.layout-row{
    margin-left:-60px;
    margin-right:-80px}
.layout-header{padding:0 80px}
.about-author,.layout-horizontal-padding,.service-item,.skill-section,.timeline-item{
    padding-top:50px;
    padding-bottom:50px}
.layout-horizontal-padding--clean{margin-bottom:-50px}
.page-home{
    padding-left:80px;
    padding-right:80px}


@media (max-width:1368px),(max-height:900px){

.layout-width{width:1130px}
.layout-sidebar-width{width:376.6666629px}
.layout-container-width{width:753.3333371px}
.sidebar,.sidebar-container{
    padding-left:70px;
    padding-right:45px}
.layout-col,.layout-container,.layout-container-main
{padding-left:45px;
    padding-right:70px}
.layout-row{
    margin-left:-45px;
    margin-right:-70px}
.layout-header{padding:0 70px}
.about-author,.layout-horizontal-padding,.service-item,.skill-section,.timeline-item{
    padding-top:45px;
    padding-bottom:45px}
.layout-horizontal-padding--clean{margin-bottom:-45px}

.page-home{
    padding-left:70px;
    padding-right:70px}



.page-home,.sidebar{padding-top:60px}
.page-home{padding-bottom:60px}

.layout-title{line-height:60px}
.layout-title-wrapper{height:60px}
.mCSB_scrollTools_vertical{margin-top:60px}}


@media (max-width:1132px){
.achievement-grid:after,.achievement-grid:before{
    content:' ';
    display:block}

.layout-width{width:910px}
.layout-sidebar-width{width:303.3333303px}
.layout-container-width{width:606.6666697000001px}
.sidebar,.sidebar-container{
    padding-left:60px;
    padding-right:40px}
.layout-col,.layout-container,.layout-container-main{
    padding-left:40px;
    padding-right:60px}
.layout-row{
    margin-left:-40px;
    margin-right:-60px}
.layout-header{padding:0 60px}

.about-author,.layout-horizontal-padding,.service-item,.skill-section,.timeline-item{
    padding-top:40px;
    
    padding-bottom:40px}
.layout-horizontal-padding--clean{margin-bottom:-40px}
.page-home{
    padding-left:60px;
    padding-right:60px}



@media (max-width:910px){
    .layout,.layout-sidebar{padding-top:0!important}
    
    .layout-col,.layout-container,.layout-container-main,.sidebar,.sidebar-container{
        padding-left:40px;
        padding-right:40px}
    
    .header-wrap,.layout-header,.layout-sidebar,.layout-title{position:static}
    .layout{
        height:auto;
        max-height:100%}
    .layout-header{height:auto!important}
    .layout-container-width,.layout-sidebar-width,.layout-width{width:100%}
    .layout-title-wrapper{height:auto}
    
    
    
    .achievement-grid:after,.mobile-menu{display:block}
    
    .sidebar,.sidebar-container{
        padding-top:40px;
        padding-bottom:40px}
    
    .layout-row{
        margin-left:-40px;
        margin-right:-40px}
    .layout-header{padding:0 40px}
    .about-author,.achievement-grid,.layout-horizontal-padding,.service-item,.skill-section,.timeline-item{
        padding-top:40px;
        padding-bottom:40px}
    .layout-horizontal-padding--clean{margin-bottom:-40px}
    
    .page-home{
        padding-left:40px;
        padding-right:40px}
    
    
    .header-blocker,.main-nav,.main-nav__sliding-element{display:none!important}
    .header-wrap{margin:0 -15px}
}}